body {
    background-color: gray;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.text {
    display: none;
}

.error {
    color: red;
}